################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VANIX21/FileContentIndex
/.vs/slnx.sqlite
